# Loopstream
sfx/
toolse/
lame.exe
lame_enc.dll
oggenc2.exe
*.bak
*.7z

# User-specific files
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio profiler
*.psess
*.vsp
*.vspx
